@font-face {
    font-family: 'Eight Bit Dragon';
    src: url('../assets/font/font.ttf') format('truetype');
}

body {
    background-color: black;
    font-family: 'Eight Bit Dragon';
    color: white;
}

#screen {
    display: block;
    width: 1000px;
    height: 562px;
    border: 2px solid orange;
    background-color: #8ed0ff;
    margin: 0 auto;
}
