@font-face {
    font-family: 'Eight Bit Dragon';
    src: url('../assets/font/font.ttf') format('truetype');
}

body {
    background-color: #0f1538;
    margin: 0;
    font-family: 'Eight Bit Dragon';
    color: white;
}

header {
    background-color: #f7a90c;
    height: 75px;
    margin: 0 0 20px 0;
    line-height: 75px;
    font-size: 15.75px;
    color: #111; 
}

.title {
    font-size: 21px;
    margin-left: 20px;
}

span {
    display: inline-block;
    height: 100%;
}

#screen {
    display: block;
    width: 1000px;
    height: 562px;
    border: 2px solid orange;
    background-color: #8ed0ff;
    margin: 0 auto;
}
